<div></div><div></div><br>

<h3 class="acrylic">Acrylic Paintings</h3>
<div class="carousel1">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/Modern.jpg"  height="500px" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Jackson Pollock <span class="badge badge-danger">NEW</span></h3>
          <p class="para">A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
 <h3></h3>
          <button class="acrylicButton">View</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/Spray-Painting-art.jpg"   height="400px" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Jasper John</h3>
          <h3></h3>
          <a routerLink="art">View</a>
            <router-outlet></router-outlet>
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  src="/assets/images/Oil Painting.jpg"   height="400px" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Piet Mondrian</h3>
          <h3></h3>
          <button class="acrylicButton">View</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <h3 class="acrylic">NFT Paintings</h3>
  <div class="carousel1">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/nft.jpg"  height="600px" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Jackson Pollock</h3>
 <h3></h3>
          <button class="acrylicButton">View</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/spray painting.webp"   height="400px" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Jasper John</h3>
          <h3></h3>
          <button class="acrylicButton">View</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  src="/assets/images/watercoloring.jpeg"   height="400px" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Piet Mondrian</h3>
          <h3></h3>
          <button class="acrylicButton">View</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>