.footer {
  background: #252C54;
    margin: 0px auto;
    padding: 20px 0px;
    color:#DEAC7D
  }
  .a{
    color:#DEAC7D
  }
  .fa-linkedin{
    color: #AB773D;
    }
    .fa-facebook{
      color: #AB773D;
    }
    .fa-twitter{
      
    }
    .fa-google-plus{
      color: #AB773D;
    }
    .fa-youtube{
      color: #AB773D;
    }
    .fa-envelope-o
    {
      color: #AB773D;
    }
    .fa-twitter{
      color: #AB773D;
    }
    .list-unstyled{
      color: #AB773D;
    }