<h3 class="acrylic">Know Our Artists</h3>
<div class="carousel1">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/jackson pollock.jpg"  height="400px" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Jackson Pollock</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/jasper john.jpg"   height="400px" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Jasper John</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  src="/assets/images/Piet Mondrian.jpg"   height="400px" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Piet Mondrian</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
